:root {
  --nav-color: rgb(21, 9, 88);
  --color-buttons: rgb(47, 36, 99);
  --color-icons-and-borders: white;
}

@font-face {
  font-family: mPlus;
  src: url("static\MPLUS1Code-Regular.ttf");
}


* {
  padding: 0;
  margin: 0;
  font-family: "mPlus", monospace;
}

.slides-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: static;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.active {
  display: block;
}


nav {
  z-index: 2000;
  position: fixed;
  bottom: -110px;
  width: 100%;
  height: fit-content;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-color);
  margin: 0;
  transition: all .3s ease-in;
}




nav:hover,
nav:has(>div:hover),
body:has(>dialog[open])>nav,
body:has(>nav>ul>li>input:focus)>nav {
  bottom: 0px;
}

nav>ul {
  width: 50%;
  display: flex;
  list-style: none;
}

nav>ul>li:not(:has(>button.hide)) {
  min-width: 10%;
  margin: 0 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s;

}




nav>ul>li:has(>input) {

  width: 25%;
}

nav>ul>li>button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icons-and-borders);
  font-size: 25px;
  height: 70px;
  width: 70px;
  font-weight: bold;

  background-color: var(--nav-color);
  border: 0;
  border-radius: 50%;
  padding: 0;
  line-height: 14px;
  z-index: 1;
  transition: all .1s ease-in;

}


nav>ul>li>button:hover {
  background-color: var(--color-buttons);
  cursor: pointer;
  /* border: 1px solid var(--color-icons-and-borders); */
}


nav>div {
  position: absolute;
  top: -30px;
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: var(--nav-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

nav>div>span {
  font-size: 25px;
  color: var(--color-icons-and-borders);
  margin: 0;
  line-height: 10px;
  padding: 0;
}


nav>img {
  width: 100px;
  aspect-ratio: 1;
  left: 20px;
  position: absolute;
}

.hide {
  display: none;
}


#time {
  border: 1px solid lightgray;
  font-size: 35px;
  outline: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  width: 100%;
}

#save {
  height: 50px !important;
  width: 50px !important;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}



#backdrop {
  display: none;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: .5;
  position: fixed;
  z-index: 5000;
}



body:has(>dialog[open])>div#backdrop {
  display: block;
}

dialog {
  width: 40%;
  top: 10%;
  margin: 0 30%;
  height: fit-content;
  border: 0;
  /* border: 5px solid var(--nav-color); */
  border-radius: 35px;
  outline: none;
  padding: 20px 40px;
  z-index: 5001;
}



.btn {
  background-color: var(--nav-color);
  color: var(--color-icons-and-borders);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  transition: all .3s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-buttons);
}

dialog>div {
  padding: 10px;
}



dialog>div>input {
  width: 95%;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 15px;
  outline: 0;
}

dialog>div>p {
  text-align: center;
}


dialog>ul {
  list-style: none;
  padding: 0;
}


dialog>ul>li {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 15px;
  margin-top: 5px;
  position: relative;
}

dialog>ul>li>span {
  text-align: center;
  color: red;
  width: 20px;
  height: 20px;
  line-height: 16px;
  font-size: 14px;
  top: -6px;
  right: -10px;
  font-weight: bold;
  position: absolute;
  transition: all .3s;
}

dialog>ul>li>span:hover {
  cursor: pointer;
  font-size: 16px;
}

iframe {
  width: 100%;
  height: 100%;
}